# Временные файлы и логи блокировок
*~
.~lock.*
.tags

# Скомпилированные библиотеки и исполняемые файлы
*.so
*.bin
run_tests
test_sha
decrypt

# Временные текстовые файлы и картинки тестов
*.txt
*.png
my.key
